<div class="row">
  <div class="offset-md-4 col-md-6 mt-4">
    <h1 class="text-center">Create Your Profile</h1>
    <p class="text-center">Be a part of the DevMatch community and fill out your profile!</p>
      <div class="card bg-light">
        <div class="card-body">
          <%= render 'form' %>
        </div>
    </div>
  </div>
</div>